.city-name {
  color: 000;
  font-size: 55px;
  font-family: "Fraunces", serif;
}
.weather-icon {
  width: 200px;
  margin: auto;
  display: block;
}
.current-degree {
  color: 000;
  font-size: 50px;
  font-family: "Fraunces", serif;
}
.degree-container {
  margin-top: 20px;
}
.container {
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}
.degree {
  position: relative;
  font-size: 18px;
  top: -20px;
  padding-left: 3px;
  text-decoration: solid;
}
.active {
  color: black;
  text-decoration: solid;
}
.active:hover {
  color: black;
  text-decoration: solid;
}
.weather-forcast-container {
  color: #212529;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.5;
}
.weather-icon-first {
  width: 50px;
}
